{{> header}}

<h2>What kind of food do you want to eat?</h2>

<ul>
  <li><a href="/meat">Meat</a></li>
  <li><a href="/poultry">Poultry</a></li>
  <li><a href="/fish-and-seafood">Fish & Seafood</a></li>
  <li><a href="/cheese">Cheese</a></li>
  <li><a href="/vegetables">Vegetables</a></li>
  <li><a href="/other">Other</a></li>
</ul>