{{> header}}


<section class="section-type">

  <div class="fullscreen-bg"></div>

  <div class="row justify-content-center">

    <div class="div1 col-lg-8 col-md-8 col-sm-8">
      
    
    <img src="/images/icon-food.gif" alt="" class="icon">
      <div class="h6">What kind of food do you want to eat?</div>

            
      <ul>
        <li><a href="/meat">Meat</a></li>
        <li><a href="/poultry">Poultry</a></li>
        <li><a href="/fish-and-seafood">Fish & Seafood</a></li>
        <li><a href="/cheese">Cheese</a></li>
        <li><a href="/vegetables">Vegetables</a></li>
        <li><a href="/other">Other</a></li>
      </ul>
                
    
    </div>

  </div>

<a href="/"><button class="button-font">home</button></a>

</section>

{{> footer}}