{{> header}}

<h2>Choose your wine:</h2>

<ul>
  {{#each wineRecos.wine}}
  <li><a href="/details/{{this._id}}">{{this.appelation}}</a></li>
  <li><a href="/details/{{this._id}}">Details</a></li>
<br>
{{/each}}

</ul>