{{> header}}

<section class="section-advice">

  <div class="fullscreen-bg"></div>

  <div class="row justify-content-center">

    <div class="div1 col-lg-12 col-md-12">
    
    <img src="/images/icon-advice.gif" alt="" class="icon">
    <div class="h6">Advice</div>
    
    <div class="content">
      <div class="col-lg-6 col-md-6">
        <img src="/images/icon-redwine.svg" alt="">
        <div class="h2">BLANC SEC LÉGER 10-12°C <br> BLANC MOELLEUX & LIQUOREUX</div>
        <div class="h5">Sortez la bouteille de votre cave et placez-la 30 minutes au réfrigérateur</div>
        <div class="h2">BLANCS SECS DE GARDE 12-14°C</div>
        <div class="h5">Sortez directement la bouteille de votre cave</div>
      </div>
      <div class="col-lg-6 col-md-6">
        <img src="/images/icon-whitewine.svg" alt="">
        <div class="h2">ROUGE FRUITÉ ET SOUPLE 12-14°C</div>
        <div class="h5">Sortez directement la bouteille de votre cave</div>
        <div class="h2">ROUGE CHARNU ET CHALEUREUX 14-16°C</div>
        <div class="h5">Sortez la bouteille de votre cave 30 minutes avant de la servir</div>
        <div class="h2">ROUGE DE GARDE TYPE BORDEAUX 17-18°C</div>
        <div class="h5">Sortez la bouteille de votre cave 1h30 avant de servir</div>
      </div>
    </div>

    </div>

  </div>

</section>

{{> footer}}
