{{> header}}

<section class="section-contact">

  <div class="fullscreen-bg"></div>

  <div class="row justify-content-center">

    <div class="div1">
    
    <img src="/images/icon-contact.gif" alt="" class="icon">
    <div class="h6">Contact</div>
    
    <div class="content">
      <div class="h5">40 rue du Colisée, 75008 Paris<br>
      07 50 20 18 03<br>
      contact@ovino.com</div>
      <ul class="social-medias">
        <li><a href=""><img src="/images/icon-social-fb.svg" alt=""></a></li>
        <li><a href=""><img src="/images/icon-social-ig.svg" alt=""></a></li>
        <li><a href=""><img src="/images/icon-social-tw.svg" alt=""></a></li>
      </ul>
      <form action="" class="newsletter-form">
        <label>
          <div class="h2">NEWSLETTER</div>
          <input type="text" placeholder="enter your email">
          <input type="submit" value="SUBSCRIBE">
        </label>
      </form>
    </div>

    </div>

  </div>

</section>

{{> footer}}
