{{> header}}

<section class="section-error">

  <div class="fullscreen-bg"></div>

  <div class="row justify-content-center">

    <div class="div1">
    
    <img src="/images/icon-bottles.svg" alt="" class="icon">
    <div class="h6">Oups..</div>
    
    <div class="content">
      <div class="h0">Error</div>
      <div class="h5">There was an error on the server! Check the console!</div>
      
      <a href="/"><button class="button-font">back home</button></a>
    </div>

    </div>

  </div>

</section>

{{> footer}}
