Add friends : 
<form action="/add-friend" method="POST">   
  <input type="email" name="email" placeholder="b2o@unkut.com">
</form>


Your friends : 
<div>{{#each userFriends}}
  <ul>
<li>{{this.fullName}}</li>
<li>{{this.email}}</li>
<li>Favorites : 
  <ul>{{#each this.favorites}}
    <li>{{this.wine.appelation}}</li>
    {{/each }}
  </ul>
</li>
  </ul>
{{/each}}
</div>