{{> header}}

<section class="section-myfriends">

  <div class="fullscreen-bg"></div>

  <div class="row justify-content-center">

    <div class="div1">

  <img src="/images/icon-bottles.svg" alt="" class="icon">
  <div class="h6">Your favorites :</div>

  <div class="add-friends">
    <div class="h4">Add friends :</div>
    <form action="/add-friend" method="POST" class="form">   
    <input type="email" name="emailadress" placeholder="name@example.fr">
    <input type="submit" value="SUBMIT">
    </form>
  </div>
  
  <div class="list">
  <div class="h4">Your friends :</div>
  {{#each userFriends}}
    <div class="one-friend"><a href="#">
      <div class="h2">{{this.friend.fullName}}</div>
      <div class="h4">{{this.friend.email}}</div>
      <div class="h5">Favorites : </div>
        <ul>
          {{#each this.friend.favorites}}
          <li class="h6"><a href="/cellar/friend/{{this.wine._id}}" class="type">{{this.wine.appelation}}</a></li>
          {{/each }}
        </ul>
    </a></div>
  {{/each}}
  </div>

  </div>
  
  <a href="/profile"><button class="button-font">back</button></a>

</section>

{{> footer}}

