{{> header}}


<section class="section-home">

  <div class="fullscreen-bg"></div>

  <div class="bottles-homepage"></div>

  <div class="row justify-content-center">

    <div class="div3 col-lg-3 col-md-3 col-sm-3">
      <img src="/images/icon-food.gif" alt="" class="icon">
      <div class="h6">food</div>
      <p>Tell us want kind of food you’ll eat to have the best food / wine agreement</p>
    </div>
    <div class="div3 col-lg-3 col-md-3 col-sm-3">
      <img src="/images/icon-drink.gif" alt="" class="icon">
      <div class="h6">drink</div>
      <p>We’ll give you 4 differents bottles to choose your favorite</p>
    </div>
    <div class="div3 col-lg-3 col-md-3 col-sm-3">
      <img src="/images/icon-order.gif" alt="" class="icon">
      <div class="h6">Order</div>
      <p>Then tell us at what time and where do you want to be delivered</p>
    </div>

  </div>

<button class="button-font">start</button>

</section>

{{> footer}}