<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <header>
    <nav>
      <img src="#0" alt="">
      <a href="/">HOME</a>
      <a href="/wines">WINES</a>
      <a href="/pairing">WINE PAIRING</a>
      <a href="/signup">SIGN UP</a>
      <a href="/login">LOG IN</a>
      <a href="/logout">LOG OUT</a>
    </nav>
  </header>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>