<header>
    <img src="/images/logo-allwhite.svg" alt="" id="white-logo">
  </header>

<section class="section-menu">

  <div class="fullscreen-bg">

    <div class="row">
      <ul>
        <li><a>HOME</a></li>
        <li><a>PROFILE</a></li>
        <li><a>OUR CELLAR</a></li>
        <li><a>ADVICE</a></li>
        <li><a>CONTACT</a></li>
      </ul>
    </div>

</div>

</section>

<footer>
    <a href="/index">
      <img src="/images/menu-white.svg" alt="" id="menu-white">
    </a>
  </footer>