<header>
    <a href="/index"><img src="/images/logo-allwhite.svg" alt="" id="white-logo"></a>
  </header>

<section class="section-menu">

  <div class="fullscreen-bg">

    <div class="row">
      <ul>
        {{#if currentUser}}
        <li><a href="/profile">PROFILE</a></li>
        {{/if}}
        
        <li><a href="/wines">OUR CELLAR</a></li>
        <li><a href="/advice">ADVICE</a></li>
        <li><a href="/contact">CONTACT</a></li>

        {{#if currentUser}}
            <li><a href="/logout">LOG OUT</a></li>
     
       {{else}}
            <li><a href="/signup">SIGN UP</a> <img src="/images/icon-wine-menu.svg" alt=""> <a href="/login">LOG IN</a></li>
       {{/if}}
      </ul>

    </nav>

  </div>

</div>

</section>

<div class="menu">
    <a href="/index">
      <img src="/images/menu-white.svg" alt="" id="menu-white">
    </a>
</div>