{{> header}}

<section class="section-profile">

  <div class="fullscreen-bg"></div>

  <div class="row justify-content-center">

    <div class="div1">
    
    <img src="/images/icon-contact.gif" alt="" class="icon">
    <div class="h6">Hello <b>{{currentUser.fullName}}</b>. Welcome to your profile page</div>
    
    <ul class="col-lg-12 profile-buttons">
          <a href="/settings"><li><button class="button-font profile-btn">My infos</button></li></a>
          <a href="/my-orders"><li><button class="button-font profile-btn">My orders</button></li></a>
          <a href="/favorites"><li><button class="button-font profile-btn">Favorite Wines</button></li></a>
          <a href="/friends"><li><button class="button-font profile-btn">Friends</button></li></a>
    </ul>

    </div>

  </div>

</section>

{{> footer}}
