<h2>Hello {{currentUser.fullName}}. Welcome to your profile page</h2>

<ul>
  <li><a href="/settings"><button>My infos</button></a></li>
  <li><a href="/my-orders"><button>My orders</button></a></li>
  <li><a href=""><button>Favorite Wines</button></a></li>
  <li><a href=""><button>Friends</button></a></li>
</ul>