<h2>User Settings</h2>

{{> flash_messages}}

{{#if currentUser.avatar}}
  <img src="{{currentUser.avatar}}" alt="avatar">
{{/if}}

<form action="/process-settings" method="POST" enctype="multipart/form-data">

  <label>
    Full Name : 
    <input type="text" name="fullName" value = "{{currentUser.fullName}}">
  </label>

  <label>
    Email : 
    <input type="email" name="email" value = "{{currentUser.email}}">
  </label>

  <label>
    Avatar : 
    <input type="file" name="avatarUpload">
  </label>

  <button>Save Settings</button>
</form>

<a href="/profile"><button>back</button></a>
