{{> header}}

<section class="section-signuplogin">

  <div class="fullscreen-bg"></div>

  <div class="row justify-content-center">

    <div class="div1">
    
    <img src="/images/tirebouchon.svg" alt="" class="image">
    <div class="h6">Sign up or log in please.</div>
    
    <div class="button-div">
      <div class="button-div-position">
        <a href="/signup-pairing"><button class="button-font button-left">Sign Up</button></a>
        <a href="/login-pairing"><button class="button-font button-right">Log In</button></a>
      </div>
    </div>

    </div>

  </div>

</section>

{{> footer}}