<<<<<<< HEAD
<h2>Wine list:</h2>
<ul>
=======
{{> header}}

<section class="section-winelist">
>>>>>>> 8de6420a7c1df5ef45a16e8caca9117812995700

  <h2>Wine list:</h2>
  <ul class="list">

  {{#each allWines}}
    <li class="one-wine">
      <div class="img">
        <img src="{{this.pictureUrl}}" alt="">
      </div>
      <div class="appelation">{{this.appelation}}</div>
      <ul class="proprieties">
        <li>{{this.domaine}} - {{this.millesime}}</li>
      </ul>
  </li>
  {{/each}}
  </ul>

</section>