@charset "UTF-8";
@font-face {
  font-family: 'Coquette-Regular';
  src: url("/font/Coquette-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'GTAmerica-Bold';
  src: url("/font/GTAmerica-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'GTAmerica-BoldItalic';
  src: url("/font/GTAmerica-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'GTAmerica-Regular';
  src: url("/font/GTAmerica-Regular.ttf") format("truetype"); }

p {
  font-family: "GTAmerica-Regular";
  font-size: 10px;
  color: #000000;
  letter-spacing: 1.76px;
  text-transform: uppercase; }

.button-font {
  background: #000000;
  padding: 15px 100px;
  border-radius: 50px;
  font-family: "GTAmerica-Regular";
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 2.29px;
  text-align: center;
  line-height: 15px;
  text-transform: uppercase; }

.button-google {
  background: white;
  padding: 10px 0px;
  border-radius: 50px;
  border: none;
  font-family: "GTAmerica-Regular";
  font-size: 13px;
  color: black;
  letter-spacing: 2.29px;
  text-align: center;
  line-height: 15px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: center; }
  .button-google img {
    padding-right: 20px; }

.h0 {
  font-family: "GTAmerica-Bold";
  font-size: 50px;
  color: #000000;
  letter-spacing: 2px;
  text-align: center; }

@media (max-width: 767px) {
  .h0 {
    font-size: 40px; } }

@media (max-width: 575px) {
  .h0 {
    font-size: 30px; } }

.h1 {
  font-family: "GTAmerica-Bold";
  font-size: 35px;
  color: #000000;
  letter-spacing: 3.94px;
  line-height: 25px;
  text-transform: uppercase; }

@media (max-width: 767px) {
  .h1 {
    font-size: 30px;
    line-height: 20px; } }

@media (max-width: 575px) {
  .h1 {
    font-size: 25px;
    line-height: 15px; } }

.h2 {
  font-family: "GTAmerica-Bold";
  font-size: 16px;
  color: #000000;
  letter-spacing: 1.37px;
  text-align: center;
  line-height: 45px;
  text-transform: uppercase; }

@media (max-width: 767px) {
  .h2 {
    font-size: 14px;
    line-height: 20px; } }

.h3 {
  font-family: "GTAmerica-Regular";
  font-size: 20px;
  color: #000000;
  letter-spacing: 3.53px;
  line-height: 15px; }

@media (max-width: 767px) {
  .h3 {
    font-size: 16px; } }

.h4 {
  font-family: "GTAmerica-Regular";
  font-size: 12px;
  color: #000000;
  letter-spacing: 2.47px;
  line-height: 25px;
  text-transform: uppercase; }

@media (max-width: 767px) {
  .h4 {
    font-size: 11px; } }

.h5 {
  font-family: "GTAmerica-Regular";
  font-size: 10px;
  color: #000000;
  letter-spacing: 1.76px;
  text-align: center;
  line-height: 15px;
  text-transform: uppercase; }

.h6 {
  font-family: "Coquette";
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-transform: lowercase; }
  .h6::first-letter {
    text-transform: uppercase; }

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll; }

a, a:hover {
  text-decoration: none;
  z-index: 50;
  color: black; }

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0; }

section {
  width: 100vw;
  overflow-x: hidden; }

header {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  margin-bottom: -40px; }

.menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200; }

.button-font {
  width: 350px;
  padding: 15px 0; }

#menu:hover {
  animation: 1s crazyflip;
  /* choisir combien de fois l'animation va se répéter sur l'élément */
  animation-iteration-count: 1; }

#logo, #white-logo {
  width: 180px; }

.loadingpage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 300;
  background-image: url("../images/splashscreen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; }
  .loadingpage .row2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }

.section-menu .fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: #8C2632; }
  .section-menu .fullscreen-bg .row {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0; }
    .section-menu .fullscreen-bg .row ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0; }
      .section-menu .fullscreen-bg .row ul li {
        font-family: "GTAmerica-Bold";
        font-size: 45px;
        letter-spacing: 3.86px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center; }
        @media (max-width: 575px) {
          .section-menu .fullscreen-bg .row ul li {
            font-size: 35px; } }
        .section-menu .fullscreen-bg .row ul li img {
          margin-left: 20px;
          margin-right: 20px; }
        .section-menu .fullscreen-bg .row ul li a {
          color: #8C2632;
          text-shadow: 1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff, 1px 1px 5px #555; }
        .section-menu .fullscreen-bg .row ul li a:hover {
          font-family: "GTAmerica-Bold";
          color: white;
          text-shadow: none; }
    @media (max-width: 575px) {
      .section-menu .fullscreen-bg .row ul {
        padding: 20px; } }

.section-home .fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-image: url("../images/background-home.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.section-home .bottles-homepage {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -50;
  background-image: url("../images/icon-bottles.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: auto; }

.section-home .row {
  width: 100%;
  height: 65vh;
  margin: 0;
  display: flex;
  align-items: flex-end;
  text-align: center; }
  .section-home .row .div3 {
    margin: 0; }
    .section-home .row .div3 .h6 {
      margin: 20px; }
    .section-home .row .div3 p {
      text-transform: uppercase; }
    @media (max-width: 992px) {
      .section-home .row .div3 .h6 {
        margin: 20px 10px 10px 10px; } }
  .section-home .row .icon {
    width: 130px;
    height: 130px; }
  @media (max-width: 992px) {
    .section-home .row .icon {
      width: 120px;
      height: 120px; } }
  @media (max-width: 767px) {
    .section-home .row .icon {
      width: 100px;
      height: 100px; } }

@media (max-width: 575px) {
  .section-home .bottles-homepage {
    display: none; }
  .section-home .row {
    margin-top: 30px; } }

.section-home button {
  position: fixed;
  bottom: 0;
  margin-bottom: 80px;
  transform: translate(-50%, -50%);
  left: 50%; }

.section-winelist {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-winelist .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-cellar.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .section-winelist .row {
    margin-top: 30px; }
    .section-winelist .row .div1 {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section-winelist .row .div1 .form {
        float: left;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .section-winelist .row .div1 .form form input {
          text-align: center;
          width: 400px;
          height: 35px;
          margin-bottom: 30px;
          border: none;
          border-radius: 25px;
          background: transparent;
          border: 1px solid #B5ACA5;
          font-family: "GTAmerica-Regular";
          font-size: 14px;
          letter-spacing: 1.76px; }
        .section-winelist .row .div1 .form form input:focus {
          outline: none;
          color: black; }
        .section-winelist .row .div1 .form ::-webkit-input-placeholder {
          color: #B5ACA5;
          letter-spacing: 1px; }
        .section-winelist .row .div1 .form form input[type="submit"] {
          background-color: black;
          color: #fff;
          height: 45px;
          font-family: "GTAmerica-Regular";
          font-size: 13px;
          letter-spacing: 2.29px;
          text-align: center;
          text-transform: uppercase; }
      .section-winelist .row .div1 .h6 {
        margin: 20px; }
      .section-winelist .row .div1 .icon {
        width: 130px;
        height: 130px; }
      @media (max-width: 992px) {
        .section-winelist .row .div1 .icon {
          width: 120px;
          height: 120px; } }
      @media (max-width: 767px) {
        .section-winelist .row .div1 .icon {
          width: 100px;
          height: 100px; } }
      .section-winelist .row .div1 .list-filters {
        padding-inline-start: 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: rgba(181, 172, 165, 0.2);
        border-radius: 50;
        padding: 10px 20px 4px 20px;
        border-radius: 30px; }
        .section-winelist .row .div1 .list-filters li {
          text-align: center;
          padding: 0 10px; }
        .section-winelist .row .div1 .list-filters .wine-color .wine-color-filter {
          padding: 0 5px; }
      .section-winelist .row .div1 .list {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        flex-wrap: wrap;
        padding-inline-start: 0;
        padding: 0 100px;
        margin-bottom: 100px; }
        .section-winelist .row .div1 .list .one-wine {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
          .section-winelist .row .div1 .list .one-wine a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: black;
            text-decoration: none; }
            .section-winelist .row .div1 .list .one-wine a .img {
              height: 200px;
              text-align: center; }
              .section-winelist .row .div1 .list .one-wine a .img img {
                height: 100%; }
            .section-winelist .row .div1 .list .one-wine a .appelation {
              font-family: "GTAmerica-Bold";
              font-size: 16px;
              color: #000000;
              letter-spacing: 1.37px;
              text-align: center;
              text-transform: uppercase;
              display: flex;
              align-items: center;
              margin: 10px; }
            .section-winelist .row .div1 .list .one-wine a .proprieties {
              display: flex;
              flex-direction: column;
              padding-inline-start: 0;
              text-align: center;
              margin-bottom: 20px; }

.section-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100%; }
  .section-product .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-cellar.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .section-product .row .div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .section-product .row .div1 .h6 {
      margin: 20px; }
    .section-product .row .div1 .icon {
      width: 130px;
      height: 130px; }
    .section-product .row .div1 .one-wine {
      width: 80%;
      margin: 10px 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .section-product .row .div1 .one-wine .img {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: flex-end; }
        .section-product .row .div1 .one-wine .img img {
          height: 100%; }
      @media (max-width: 767px) {
        .section-product .row .div1 .one-wine .img {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 200px; }
          .section-product .row .div1 .one-wine .img img {
            height: 80%; } }
      @media (max-width: 575px) {
        .section-product .row .div1 .one-wine .img {
          height: 200px; }
          .section-product .row .div1 .one-wine .img img {
            height: 80%; } }
      .section-product .row .div1 .one-wine .content {
        display: flex;
        flex-direction: column; }
        .section-product .row .div1 .one-wine .content .favorite-in {
          display: flex;
          align-items: center; }
        .section-product .row .div1 .one-wine .content .h5 {
          text-align: left;
          margin-left: 20px;
          line-height: 0;
          margin-top: 8px; }
        .section-product .row .div1 .one-wine .content .appelation {
          text-align: left;
          display: flex;
          flex-direction: row; }
        @media (max-width: 767px) {
          .section-product .row .div1 .one-wine .content .appelation {
            justify-content: center; } }
        .section-product .row .div1 .one-wine .content .h2 {
          text-align: left; }
        .section-product .row .div1 .one-wine .content .proprieties {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          padding-inline-start: 0; }
          .section-product .row .div1 .one-wine .content .proprieties .h4 {
            line-height: 10px; }
        .section-product .row .div1 .one-wine .content .fav-link {
          display: flex;
          align-items: center; }
          .section-product .row .div1 .one-wine .content .fav-link .fav-on {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 30px;
            width: 30px; }
          .section-product .row .div1 .one-wine .content .fav-link .fav-off {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 30px;
            width: 30px; }
        @media (max-width: 767px) {
          .section-product .row .div1 .one-wine .content .fav-link {
            justify-content: center; } }
      @media (max-width: 767px) {
        .section-product .row .div1 .one-wine .content {
          text-align: center; }
          .section-product .row .div1 .one-wine .content .appelation, .section-product .row .div1 .one-wine .content .domaine {
            text-align: center; } }
    @media (max-width: 767px) {
      .section-product .row .div1 .one-wine {
        flex-direction: column;
        margin-bottom: 200px; } }
  .section-product button {
    position: fixed;
    bottom: 0;
    margin-bottom: 80px;
    transform: translate(-50%, -50%);
    left: 50%; }

.section-type {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-type .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-home.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .section-type .row {
    width: 100%;
    height: 80vh;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center; }
    .section-type .row .div1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .section-type .row .div1 .type {
        padding-inline-start: 0;
        -webkit-padding-start: 0; }
        .section-type .row .div1 .type li {
          list-style-type: none;
          line-height: 30px; }
        .section-type .row .div1 .type li:hover {
          background-color: rgba(181, 172, 165, 0.2);
          border-radius: 15px;
          padding: 0 25px; }
      .section-type .row .div1 .h6 {
        margin: 20px; }
      @media (max-width: 992px) {
        .section-type .row .div1 .h6 {
          margin: 20px 10px 10px 10px; } }
    .section-type .row .icon {
      width: 130px;
      height: 130px; }
    @media (max-width: 992px) {
      .section-type .row .icon {
        width: 120px;
        height: 120px; } }
    @media (max-width: 767px) {
      .section-type .row .icon {
        width: 100px;
        height: 100px; } }
  @media (max-width: 575px) {
    .section-type .bottles-homepage {
      display: none; } }
  .section-type button {
    position: fixed;
    bottom: 0;
    margin-bottom: 80px;
    transform: translate(-50%, -50%);
    left: 50%; }

.section-reco {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-reco .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-home.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .section-reco .row {
    width: 100%;
    height: 80vh;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center; }
    .section-reco .row .div1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .section-reco .row .div1 .h6 {
        margin: 20px; }
      .section-reco .row .div1 .list {
        padding-inline-start: 0;
        -webkit-padding-start: 0;
        display: flex;
        width: 70%; }
        .section-reco .row .div1 .list .one-wine {
          list-style: none; }
          .section-reco .row .div1 .list .one-wine .img {
            display: flex;
            justify-content: center;
            align-items: flex-end; }
            .section-reco .row .div1 .list .one-wine .img .wine-pic {
              height: 130px; }
          .section-reco .row .div1 .list .one-wine .appelation {
            font-family: "GTAmerica-Bold";
            font-size: 16px;
            color: #000000;
            letter-spacing: 1.37px;
            text-align: center;
            text-transform: uppercase;
            align-items: center;
            margin-top: 10px;
            line-height: 30px; }
            .section-reco .row .div1 .list .one-wine .appelation .appelation-active {
              background-color: rgba(181, 172, 165, 0.2);
              border-radius: 50px; }
            .section-reco .row .div1 .list .one-wine .appelation a:hover {
              background-color: rgba(181, 172, 165, 0.2);
              border-radius: 25px;
              padding: 5px 25px; }
            @media (max-width: 992px) {
              .section-reco .row .div1 .list .one-wine .appelation a:hover {
                padding: 5px 15px; } }
            @media (max-width: 767px) {
              .section-reco .row .div1 .list .one-wine .appelation a:hover {
                padding: 5px 0px; } }
          @media (max-width: 767px) {
            .section-reco .row .div1 .list .one-wine .appelation {
              font-size: 14px; }
            .section-reco .row .div1 .list .one-wine .appelation-active {
              padding: 5px; } }
          .section-reco .row .div1 .list .one-wine .proprieties {
            text-align: center;
            padding-inline-start: 0;
            text-transform: uppercase; }
            .section-reco .row .div1 .list .one-wine .proprieties .h4 {
              line-height: 20px; }
            .section-reco .row .div1 .list .one-wine .proprieties li {
              margin-top: 10px; }
          .section-reco .row .div1 .list .one-wine .more {
            display: flex;
            align-items: center;
            justify-content: center; }
            .section-reco .row .div1 .list .one-wine .more .h5 {
              margin: 0 2%; }
            .section-reco .row .div1 .list .one-wine .more .fav-link .fav-on {
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              height: 30px;
              width: 30px;
              margin: 0 20px; }
            .section-reco .row .div1 .list .one-wine .more .fav-link .fav-off {
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              height: 30px;
              width: 30px;
              margin: 0 20px; }
      @media (max-width: 992px) {
        .section-reco .row .div1 .list {
          width: 90%; } }
      @media (max-width: 767px) {
        .section-reco .row .div1 .list {
          width: 100%; } }
      .section-reco .row .div1 #details {
        text-decoration: underline; }
    .section-reco .row .icon {
      width: 130px;
      height: 130px; }
    @media (max-width: 992px) {
      .section-reco .row .icon {
        width: 120px;
        height: 120px; } }
    @media (max-width: 767px) {
      .section-reco .row .icon {
        width: 100px;
        height: 100px; } }
  .section-reco .button-div {
    position: fixed;
    bottom: 0;
    margin-bottom: 80px;
    transform: translate(-50%, -50%);
    left: 50%; }
    .section-reco .button-div .button-div-position {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .section-reco .button-div .button-div-position .button-left {
        margin-right: 5px; }
      .section-reco .button-div .button-div-position .button-right {
        margin-left: 5px; }

.section-myfriends {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-myfriends .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-cellar.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .section-myfriends .row {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px; }
    .section-myfriends .row .div1 {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section-myfriends .row .div1 .add-friends {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .section-myfriends .row .div1 .add-friends .form {
          float: left;
          height: 100%;
          position: relative;
          width: 350px; }
          .section-myfriends .row .div1 .add-friends .form input {
            text-align: center;
            height: 35px;
            margin-bottom: 10px;
            border: none;
            border-radius: 25px;
            background: transparent;
            border: 1px solid #B5ACA5;
            font-family: "GTAmerica-Regular";
            font-size: 14px;
            letter-spacing: 1.76px;
            width: 100%;
            color: #B5ACA5; }
          .section-myfriends .row .div1 .add-friends .form input:focus {
            outline: none;
            color: black; }
          .section-myfriends .row .div1 .add-friends .form ::-webkit-input-placeholder {
            color: #B5ACA5;
            letter-spacing: 1px; }
          .section-myfriends .row .div1 .add-friends .form input[type="submit"] {
            background-color: white;
            color: black;
            height: 45px;
            font-family: "GTAmerica-Regular";
            font-size: 13px;
            letter-spacing: 2.29px;
            text-align: center;
            text-transform: uppercase;
            border: none; }
      .section-myfriends .row .div1 .h6 {
        margin: 20px; }
      .section-myfriends .row .div1 .icon {
        width: 130px;
        height: 130px; }
      @media (max-width: 992px) {
        .section-myfriends .row .div1 .icon {
          width: 120px;
          height: 120px; } }
      @media (max-width: 767px) {
        .section-myfriends .row .div1 .icon {
          width: 100px;
          height: 100px; } }
      .section-myfriends .row .div1 .list {
        flex-wrap: wrap;
        padding-inline-start: 0;
        padding: 0 100px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px; }
        .section-myfriends .row .div1 .list .one-friend {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-inline-start: 0;
          margin: 0 20px; }
          .section-myfriends .row .div1 .list .one-friend ul {
            padding-inline-start: 0; }
            .section-myfriends .row .div1 .list .one-friend ul .h6 {
              margin: 0; }
          .section-myfriends .row .div1 .list .one-friend .h2 {
            margin-top: 20px;
            line-height: 10px; }
          .section-myfriends .row .div1 .list .one-friend .picture {
            height: 200px; }
          .section-myfriends .row .div1 .list .one-friend a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: black;
            text-decoration: none; }
            .section-myfriends .row .div1 .list .one-friend a .appelation {
              font-family: "GTAmerica-Bold";
              font-size: 16px;
              color: #000000;
              letter-spacing: 1.37px;
              text-align: center;
              text-transform: uppercase;
              display: flex;
              align-items: center;
              margin: 10px; }
            .section-myfriends .row .div1 .list .one-friend a .proprieties {
              display: flex;
              flex-direction: column;
              padding-inline-start: 0;
              text-align: center;
              margin-bottom: 20px; }

.section-myfavs {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-myfavs .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-cellar.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .section-myfavs .row {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px; }
    .section-myfavs .row .div1 {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section-myfavs .row .div1 .h6 {
        margin: 20px; }
      .section-myfavs .row .div1 .icon {
        width: 130px;
        height: 130px; }
      @media (max-width: 992px) {
        .section-myfavs .row .div1 .icon {
          width: 120px;
          height: 120px; } }
      @media (max-width: 767px) {
        .section-myfavs .row .div1 .icon {
          width: 100px;
          height: 100px; } }
      .section-myfavs .row .div1 .list {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
        padding-inline-start: 0;
        padding: 0 100px;
        justify-content: center; }
        .section-myfavs .row .div1 .list .one-wine {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-inline-start: 0;
          margin: 0 20px; }
          .section-myfavs .row .div1 .list .one-wine .h2 {
            margin-top: 20px;
            line-height: 10px; }
          .section-myfavs .row .div1 .list .one-wine .picture {
            height: 200px; }
          .section-myfavs .row .div1 .list .one-wine a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: black;
            text-decoration: none; }
            .section-myfavs .row .div1 .list .one-wine a .appelation {
              font-family: "GTAmerica-Bold";
              font-size: 16px;
              color: #000000;
              letter-spacing: 1.37px;
              text-align: center;
              text-transform: uppercase;
              display: flex;
              align-items: center;
              margin: 10px; }
            .section-myfavs .row .div1 .list .one-wine a .proprieties {
              display: flex;
              flex-direction: column;
              padding-inline-start: 0;
              text-align: center;
              margin-bottom: 20px; }
    .section-myfavs .row a {
      margin-bottom: 10px; }

.section-order {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-order .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-home.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .section-order .row {
    width: 80%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center; }
    .section-order .row .div1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px; }
      .section-order .row .div1 .price {
        background-color: rgba(181, 172, 165, 0.2);
        border-radius: 25px;
        padding: 5px 25px; }
      .section-order .row .div1 .list {
        display: flex;
        margin-bottom: 0;
        padding-inline-start: 0; }
        .section-order .row .div1 .list .one-wine {
          list-style: none;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .section-order .row .div1 .list .one-wine .img {
            display: flex;
            justify-content: center;
            align-items: flex-end; }
            .section-order .row .div1 .list .one-wine .img .wine-pic {
              height: 80px; }
          .section-order .row .div1 .list .one-wine .appelation {
            font-family: "GTAmerica-Bold";
            font-size: 16px;
            color: #000000;
            letter-spacing: 1.37px;
            text-align: center;
            text-transform: uppercase;
            align-items: center;
            margin: 10px; }
            .section-order .row .div1 .list .one-wine .appelation .proprieties {
              text-align: center;
              padding-inline-start: 0;
              text-transform: uppercase; }
          @media (max-width: 767px) {
            .section-order .row .div1 .list .one-wine .appelation {
              font-size: 14px;
              line-height: 15px; } }
      .section-order .row .div1 .time-input {
        border: none;
        background-color: transparent;
        height: 60px;
        overflow: hidden; }
      .section-order .row .div1 .address-input {
        text-align: center;
        width: 80%;
        height: 35px;
        margin-bottom: 10px;
        border: none;
        background-color: #F8F8F8;
        border-radius: 25px;
        margin-top: 20px;
        font-family: "GTAmerica-Regular";
        font-size: 12px;
        letter-spacing: 2.29px;
        text-align: center;
        text-transform: uppercase; }
        @media (max-width: 575px) {
          .section-order .row .div1 .address-input {
            font-size: 10px; } }
      .section-order .row .div1 .h6 {
        margin: 20px; }
      @media (max-width: 992px) {
        .section-order .row .div1 .h6 {
          margin: 20px 10px 10px 10px; } }
    .section-order .row .icon {
      width: 130px;
      height: 130px; }
    @media (max-width: 992px) {
      .section-order .row .icon {
        width: 120px;
        height: 120px; } }
    @media (max-width: 767px) {
      .section-order .row .icon {
        width: 100px;
        height: 100px; } }
  @media (max-width: 575px) {
    .section-order .bottles-homepage {
      display: none; } }
  .section-order .button-div {
    position: fixed;
    bottom: 0;
    margin-bottom: 80px;
    transform: translate(-50%, -50%);
    left: 50%; }
    .section-order .button-div .button-div-position {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .section-order .button-div .button-div-position .button-left {
        margin-right: 5px; }
      .section-order .button-div .button-div-position .button-right {
        margin-left: 5px; }

.section-myorders {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-myorders .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-cellar.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .section-myorders .row {
    margin-top: 20px;
    margin-bottom: 100px;
    width: 50%; }
    .section-myorders .row .div1 {
      text-align: center;
      width: 100%; }
      .section-myorders .row .div1 .h6 {
        margin: 20px; }
      .section-myorders .row .div1 .orderlist {
        justify-content: center;
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column; }
        .section-myorders .row .div1 .orderlist .wineinfos {
          padding-inline-start: 0;
          margin: 0 10px 20px 10px;
          padding: 15px 20px 0 20px;
          background-color: rgba(181, 172, 165, 0.2);
          border-radius: 50px; }
          .section-myorders .row .div1 .orderlist .wineinfos .winelist {
            padding-inline-start: 0; }
            .section-myorders .row .div1 .orderlist .wineinfos .winelist .h2 {
              margin-bottom: 20px;
              line-height: 15px; }
      .section-myorders .row .div1 .icon {
        width: 130px;
        height: 130px; }
      @media (max-width: 992px) {
        .section-myorders .row .div1 .icon {
          width: 120px;
          height: 120px; } }
      @media (max-width: 767px) {
        .section-myorders .row .div1 .icon {
          width: 100px;
          height: 100px; } }
      .section-myorders .row .div1 .list {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap; }

.selected {
  background-color: rgba(181, 172, 165, 0.2);
  border-radius: 15px;
  padding: 5px 25px; }

.section-login .fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-image: url("../images/background-home.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.section-login .row {
  width: 100%;
  height: 65vh;
  margin: 0;
  display: flex;
  align-items: flex-end;
  text-align: center; }
  .section-login .row .div1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-login .row .div1 .h6 {
      margin: 20px; }
    .section-login .row .div1 .user {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px; }
      .section-login .row .div1 .user .icon {
        width: 130px;
        height: 130px;
        margin: 0 10px; }
      @media (max-width: 992px) {
        .section-login .row .div1 .user .icon {
          width: 120px;
          height: 120px; } }
      @media (max-width: 767px) {
        .section-login .row .div1 .user .icon {
          width: 100px;
          height: 100px; } }
    .section-login .row .div1 .form {
      float: left;
      /*border-right:1px solid #fff;*/
      height: 100%;
      /*padding:15px 0 0 0;*/
      position: relative;
      width: 100%; }
      .section-login .row .div1 .form div {
        display: flex;
        flex-direction: row;
        text-align: left;
        align-items: center; }
        .section-login .row .div1 .form div .checkbox_check {
          width: 30px; }
      .section-login .row .div1 .form form input {
        text-align: center;
        width: 100%;
        height: 35px;
        margin-bottom: 10px;
        border: none;
        border-radius: 25px;
        background: transparent;
        border: 1px solid #B5ACA5;
        font-family: "GTAmerica-Regular";
        font-size: 14px;
        letter-spacing: 1.76px; }
      .section-login .row .div1 .form form input:focus {
        outline: none;
        color: black; }
      .section-login .row .div1 .form ::-webkit-input-placeholder {
        color: #B5ACA5;
        letter-spacing: 1px; }
      .section-login .row .div1 .form form input[type="submit"] {
        background-color: black;
        color: #fff;
        height: 45px;
        font-family: "GTAmerica-Regular";
        font-size: 13px;
        letter-spacing: 2.29px;
        text-align: center;
        text-transform: uppercase; }

@media (max-width: 575px) {
  .section-login .row {
    margin-top: 30px; } }

.section-profile .fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-image: url("../images/background-home.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.section-profile .row {
  width: 100%;
  height: 80vh;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center; }
  .section-profile .row .div1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-profile .row .div1 .h6 {
      margin: 20px; }
    .section-profile .row .div1 .icon {
      width: 130px;
      height: 130px;
      margin: 0 10px; }
    @media (max-width: 992px) {
      .section-profile .row .div1 .icon {
        width: 120px;
        height: 120px; } }
    @media (max-width: 767px) {
      .section-profile .row .div1 .icon {
        width: 100px;
        height: 100px; } }
  .section-profile .row .profile-buttons {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-profile .row .profile-buttons .profile-btn {
      width: 350px;
      margin: 5px; }

@media (max-width: 575px) {
  .section-profile .row {
    margin-top: 30px; } }

.section-advice .fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-image: url("../images/background-home.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.section-advice .row {
  width: 80%;
  height: 80vh;
  margin: 0 10%;
  display: flex;
  align-items: center;
  text-align: center; }
  .section-advice .row .div1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-advice .row .div1 .h6 {
      margin: 20px; }
    .section-advice .row .div1 .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start; }
    .section-advice .row .div1 .icon {
      width: 130px;
      height: 130px;
      margin: 0 10px; }
    @media (max-width: 992px) {
      .section-advice .row .div1 .icon {
        width: 120px;
        height: 120px; } }
    @media (max-width: 767px) {
      .section-advice .row .div1 .icon {
        width: 100px;
        height: 100px; } }

@media (max-width: 575px) {
  .section-advice .row {
    margin-top: 30px; } }

.section-contact .fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-image: url("../images/background-home.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.section-contact .row {
  width: 100%;
  height: 80vh;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center; }
  .section-contact .row .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px; }
    .section-contact .row .div1 .h6 {
      margin: 20px; }
    .section-contact .row .div1 .content {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .section-contact .row .div1 .content .social-medias {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline-start: 0;
        margin-top: 15px;
        margin-bottom: 5px; }
        .section-contact .row .div1 .content .social-medias li {
          margin: 0 5px; }
      .section-contact .row .div1 .content .newsletter-form {
        float: left;
        /*border-right:1px solid #fff;*/
        height: 100%;
        /*padding:15px 0 0 0;*/
        position: relative; }
        .section-contact .row .div1 .content .newsletter-form label {
          display: flex;
          flex-direction: column;
          width: 100%; }
          .section-contact .row .div1 .content .newsletter-form label input {
            text-align: center;
            height: 35px;
            margin-bottom: 10px;
            border: none;
            border-radius: 25px;
            background: transparent;
            border: 1px solid #B5ACA5;
            font-family: "GTAmerica-Regular";
            font-size: 14px;
            letter-spacing: 1.76px;
            width: 100%;
            color: #B5ACA5; }
          .section-contact .row .div1 .content .newsletter-form label input:focus {
            outline: none;
            color: black; }
          .section-contact .row .div1 .content .newsletter-form label ::-webkit-input-placeholder {
            color: #B5ACA5;
            letter-spacing: 1px; }
          .section-contact .row .div1 .content .newsletter-form label input[type="submit"] {
            background-color: black;
            color: #fff;
            height: 45px;
            font-family: "GTAmerica-Regular";
            font-size: 13px;
            letter-spacing: 2.29px;
            text-align: center;
            text-transform: uppercase; }
        .section-contact .row .div1 .content .newsletter-form .button-div .button-font {
          width: 350px; }
    .section-contact .row .div1 .icon {
      width: 130px;
      height: 130px;
      margin: 0 10px; }
    @media (max-width: 992px) {
      .section-contact .row .div1 .icon {
        width: 120px;
        height: 120px; } }
    @media (max-width: 767px) {
      .section-contact .row .div1 .icon {
        width: 100px;
        height: 100px; } }

@media (max-width: 575px) {
  .section-contact .row {
    margin-top: 30px; } }

.section-error .fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-image: url("../images/background-home.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.section-error .row {
  width: 100%;
  height: 80vh;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center; }
  .section-error .row .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px; }
    .section-error .row .div1 .h6 {
      margin: 20px 0 0px 0; }
    .section-error .row .div1 .content {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .section-error .row .div1 .content .h5 {
        margin-bottom: 30px; }
    .section-error .row .div1 .icon {
      width: 130px;
      height: 130px;
      margin: 0 10px; }
    @media (max-width: 992px) {
      .section-error .row .div1 .icon {
        width: 120px;
        height: 120px; } }
    @media (max-width: 767px) {
      .section-error .row .div1 .icon {
        width: 100px;
        height: 100px; } }

@media (max-width: 575px) {
  .section-error .row {
    margin-top: 30px; } }

.section-signuplogin .fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-image: url("../images/background-home.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.section-signuplogin .row {
  width: 100%;
  height: 80vh;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center; }
  .section-signuplogin .row .div1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-signuplogin .row .div1 .h6 {
      margin: 20px; }
    .section-signuplogin .row .div1 .image {
      height: 300px;
      width: auto;
      animation: 1s tirebouchon;
      animation-iteration-count: infinite;
      transition-timing-function: ease-in-out; }
    .section-signuplogin .row .div1 .button-div {
      position: fixed;
      bottom: 0;
      margin-bottom: 120px;
      transform: translate(-50%, -50%);
      left: 50%; }
      .section-signuplogin .row .div1 .button-div .button-div-position {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .section-signuplogin .row .div1 .button-div .button-div-position .button-left {
          margin-right: 5px; }
        .section-signuplogin .row .div1 .button-div .button-div-position .button-right {
          margin-left: 5px; }

@media (max-width: 575px) {
  .section-signuplogin .row {
    margin-top: 30px; } }

.section-settings .fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-image: url("../images/background-cellar.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.section-settings .row {
  width: 100%;
  height: 80vh;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center; }
  .section-settings .row .div1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-settings .row .div1 a {
      margin-top: 10px; }
    .section-settings .row .div1 .h6 {
      margin: 20px; }
    .section-settings .row .div1 .icon {
      width: 130px;
      height: 130px;
      margin: 0 10px; }
    @media (max-width: 992px) {
      .section-settings .row .div1 .icon {
        width: 120px;
        height: 120px; } }
    @media (max-width: 767px) {
      .section-settings .row .div1 .icon {
        width: 100px;
        height: 100px; } }
    .section-settings .row .div1 .settings-form {
      float: left;
      /*border-right:1px solid #fff;*/
      height: 100%;
      /*padding:15px 0 0 0;*/
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section-settings .row .div1 .settings-form label {
        display: flex;
        flex-direction: row;
        width: 100%; }
        .section-settings .row .div1 .settings-form label input {
          text-align: center;
          height: 35px;
          margin-bottom: 10px;
          border: none;
          border-radius: 25px;
          background: transparent;
          border: 1px solid #B5ACA5;
          font-family: "GTAmerica-Regular";
          font-size: 14px;
          letter-spacing: 1.76px;
          width: 100%;
          color: #B5ACA5; }
        .section-settings .row .div1 .settings-form label input:focus {
          outline: none;
          color: black; }
        .section-settings .row .div1 .settings-form label ::-webkit-input-placeholder {
          color: #B5ACA5;
          letter-spacing: 1px; }
        .section-settings .row .div1 .settings-form label input[type="submit"] {
          background-color: black;
          color: #fff;
          height: 45px;
          font-family: "GTAmerica-Regular";
          font-size: 13px;
          letter-spacing: 2.29px;
          text-align: center;
          text-transform: uppercase; }
      .section-settings .row .div1 .settings-form .button-div .button-font {
        width: 350px; }
  .section-settings .row .profile-buttons {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-settings .row .profile-buttons .profile-btn {
      width: 350px;
      margin: 5px; }

@media (max-width: 575px) {
  .section-settings .row {
    margin-top: 30px; } }

.hideLog {
  display: none !important; }

@keyframes crazyflip {
  0% {
    transform: rotateX(0); }
  50% {
    transform: rotateX(360deg); }
  100% {
    transform: rotateX(0); } }

@keyframes tirebouchon {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }

/*# sourceMappingURL=style.css.map */