// COLORS
// ----------------------------------------------------------------

$red: #8C2632;
$darkgrey: #B5ACA5;
$beige: #F4ECDD;
$lightgrey: #EFECE9;


// FONTS
// ----------------------------------------------------------------

@font-face {
  font-family: 'Coquette-Regular';
  // src: url('/public/font/Coquette-Regular.eot');
  src: url('/public/font/Coquette-Regular.ttf') format('truetype');
      //  url('/public/font/Coquette.woff') format('woff'),
  }
@font-face {
	font-family: 'GTAmerica-Bold';
	src: url('/public/font/GTAmerica-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'GTAmerica-BoldItalic';
	src: url('/public/font/GTAmerica-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'GTAmerica-Regular';
	src: url('/public/font/GTAmerica-Regular.ttf') format('truetype');
}

$coquette: 'Coquette-Regular';
$gtbold: 'GTAmerica-Bold';
$gtboldit: 'GTAmerica-BoldItalic';
$gtreg: 'GTAmerica-Regular';

// Details wine pages paragraphes
p{
  font-family: $gtreg;
  font-size: 10px;
  color: #000000;
  letter-spacing: 1.76px;
  text-transform: lowercase;
  &::first-letter {
		text-transform: uppercase;
  }
}

// Button font
.button-font{
  background: #000000;
  padding: 15px 100px;
  border-radius: 50px;
  font-family: $gtreg;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 2.29px;
  text-align: center;
  line-height: 15px;
  text-transform: uppercase;
}

// Delivery hour or "0" in empty friends pages/favorite wines page
.h0{
  font-family: $gtbold;
  font-size: 100px;
  color: #000000;
  letter-spacing: 2px;
  text-align: center;
  line-height: 45px;
}

// Details wine pages titles
.h1{
  font-family: $gtbold;
  font-size: 45px;
  color: #000000;
  letter-spacing: 3.94px;
  line-height: 45px;
  text-transform: uppercase;
  }

// Name of wines in lists pages 
.h2{
  font-family: $gtbold;
  font-size: 16px;
  color: #000000;
  letter-spacing: 1.37px;
  text-align: center;
  line-height: 45px;
  text-transform: uppercase;
}

// Details wine pages dates
.h3{
  font-family: $gtreg;
  font-size: 20px;
  color: #000000;
  letter-spacing: 3.53px;
  line-height: 15px;
}

// Lists pages dates or details terms (alchool, food eat with) in details wine pages
.h4{
  font-family: $gtreg;
  font-size: 14px;
  color: #000000;
  letter-spacing: 2.47px;
  line-height: 20px;
}

// Very small letters (ex: price)
.h5{
  font-family: $gtreg;
  font-size: 10px;
  color: #000000;
  letter-spacing: 1.76px;
  text-align: center;
  line-height: 15px;
  text-transform: uppercase;
}

// Hand lettering
.h6{
  font-family: $coquette;
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-transform: lowercase;
  &::first-letter {
		text-transform: uppercase;
	}
}

// CSS
// ----------------------------------------------------------------

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  z-index: 50;

}

ul{
  list-style-type: none;
}

section{
  width: 100vw;
  height: 100vh;
}

header{
  display: flex;
  justify-content: center;
  margin-top: 20px
}

footer{
  position: fixed;
  bottom: 0; 
  left: 50%;
  margin-bottom: 5px;
  transform: translate(-50%, -50%);
}

#menu:hover{
  animation: 1s crazyflip;
  /* choisir combien de fois l'animation va se répéter sur l'élément */
  animation-iteration-count: 1;
}

#logo, #white-logo{
  width: 180px;
}

.section-loadingpage{
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 200;
    background-image: url("../images/splashscreen.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .row{
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
  }
}

.section-menu{
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: $red;
    .row{
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        li{
          font-family: $gtbold;
          font-size: 45px;
          letter-spacing: 3.86px;
          text-align: center;
          line-height: 80px;
          text-transform: uppercase;
          color: white;
        }
        li:hover{
          font-family: $gtboldit;
        }
      }
    }
  }
}

.section-home{
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-home.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bottles-homepage{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -50;
    background-image: url("../images/icon-bottles.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: auto;
  }
  .row{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    .div3{
      margin: 0;
      .h6{
        margin: 20px;
      }
      @media (max-width: 992px){
        .h6{
          margin: 10px;
        }
      }
    }
    .icon{
      width: 150px;
      height: 150px;
    }
    @media (max-width: 992px){
      .icon{
        width: 120px;
        height: 120px;
      }
    }
    @media (max-width: 767px){
      .icon{
        width: 100px;
        height: 100px;
      }
    }
  } 
  @media (max-width: 575px){
    .row{
      height: 0;
      margin-top: 40px;
    }
    .bottles-homepage{
      display: none;
    }
  }
  button{
    position: absolute;
    bottom: 0;
    margin-bottom: 80px;
    transform: translate(-50%, -50%);
    left: 50%;
  }
}

.section-winelist{
  display: flex;
  flex-direction: column;
  align-items: center;
  .list-filters{
    padding-inline-start:0;
    display: flex;
    align-items: center;
    flex-direction: row;
    li{
      text-align: center;
      padding: 0 10px;
    }
    .wine-color{
      .wine-color-filter{
        padding: 0 5px;
      }
    }
  }
  .list{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    padding-inline-start: 0;
    padding: 0 100px;
      .one-wine{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
        a{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: black;
          text-decoration: none;
          .img{
            height: 200px;
            text-align: center;
            img{
              height: 100%;
            }
          }
          .appelation{
            font-family: $gtbold;
            font-size: 16px;
            color: #000000;
            letter-spacing: 1.37px;
            text-align: center;
            text-transform: uppercase;
            height: 40px;
            display: flex;
            align-items: center;
          }
          .proprieties{
            display: flex;
            flex-direction: column;
            padding-inline-start: 0;
            text-align: center;
            margin-bottom: 20px;
          }
        }
      }
    }
}


.section-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top : 50px;
    .one-wine{
      width: 80%;
      margin: 0 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top : 50px;
      .img{
        height: 300px;
        img{
          height: 100%;
        }
      }
      .content{
        display: flex;
        flex-direction: column;
        width : 50%;
        margin-left: 30px;
      .appelation{
        font-family: $gtbold;
        font-size: 20px;
        color: #000000;
        letter-spacing: 1.37px;
        text-transform: uppercase;
        // height: 60px;
        margin-bottom: 10px;

      }
      .proprieties{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        padding-inline-start: 0;
        li{
          margin-bottom : 10px;
        }
      }
    }}
}


.section-type{
    height: 72vh;
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-home.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .row{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    .div1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      ul{
        padding-inline-start: 0;
      }
      li{
        list-style: none;
      }
      .h6{
        margin: 20px;
      }
      @media (max-width: 992px){
        .h6{
          margin: 10px;
        }
      }
    }
    .icon{
      width: 150px;
      height: 150px;
    }
    @media (max-width: 992px){
      .icon{
        width: 120px;
        height: 120px;
      }
    }
    @media (max-width: 767px){
      .icon{
        width: 100px;
        height: 100px;
      }
    }
  } 
  @media (max-width: 575px){
    .row{
      height: 0;
      margin-top: 40px;
    }
    .bottles-homepage{
      display: none;
    }
  }
  button{
    position: absolute;
    bottom: 0;
    margin-bottom: 80px;
    transform: translate(-50%, -50%);
    left: 50%;
  }
}



.section-reco{
  height: 72vh;
.fullscreen-bg{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-image: url("../images/background-home.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.row{
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  .div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .list{
      padding-inline-start: 0;
      display : flex; 
      padding-inline-start: 0;
      .one-wine{
      list-style: none;  
        img{
          height : 150px;
        }
        .appelation{
          font-family: $gtbold;
          font-size: 16px;
          color: #000000;
          letter-spacing: 1.37px;
          text-align: center;
          text-transform: uppercase;
          height: 40px;
          align-items: center;
        }
        .proprieties{
          text-align: center;
          padding-inline-start: 0;
        }
      }    
     
    }

  }
  .icon{
    width: 150px;
    height: 150px;
  }
  
  @media (max-width: 992px){
    .icon{
      width: 120px;
      height: 120px;
    }
  }
  @media (max-width: 767px){
    .icon{
      width: 100px;
      height: 100px;
    }
  }
} 
@media (max-width: 575px){
  .row{
    height: 0;
    margin-top: 40px;
  }
  .bottles-homepage{
    display: none;
  }
}
button{
  position: absolute;
  bottom: 0;
  margin-bottom: 80px;
  transform: translate(-50%, -50%);
  left: 50%;
}
}








.hour{
  font-size: 3em;
  border : none;
  font-weight: bold;
}


// ANIMATIONS
// ----------------------------------------------------------------

@keyframes crazyflip{
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(0);
  }
}