@charset "UTF-8";
@font-face {
  font-family: 'Coquette-Regular';
  src: url("/public/font/Coquette-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'GTAmerica-Bold';
  src: url("/public/font/GTAmerica-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'GTAmerica-BoldItalic';
  src: url("/public/font/GTAmerica-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'GTAmerica-Regular';
  src: url("/public/font/GTAmerica-Regular.ttf") format("truetype"); }

p {
  font-family: "GTAmerica-Regular";
  font-size: 10px;
  color: #000000;
  letter-spacing: 1.76px;
  text-transform: lowercase; }
  p::first-letter {
    text-transform: uppercase; }

.button-font {
  background: #000000;
  padding: 15px 100px;
  border-radius: 50px;
  font-family: "GTAmerica-Regular";
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 2.29px;
  text-align: center;
  line-height: 15px;
  text-transform: uppercase; }

.h0 {
  font-family: "GTAmerica-Bold";
  font-size: 100px;
  color: #000000;
  letter-spacing: 2px;
  text-align: center;
  line-height: 45px; }

.h1 {
  font-family: "GTAmerica-Bold";
  font-size: 45px;
  color: #000000;
  letter-spacing: 3.94px;
  line-height: 45px;
  text-transform: uppercase; }

.h2 {
  font-family: "GTAmerica-Bold";
  font-size: 16px;
  color: #000000;
  letter-spacing: 1.37px;
  text-align: center;
  line-height: 45px;
  text-transform: uppercase; }

.h3 {
  font-family: "GTAmerica-Regular";
  font-size: 20px;
  color: #000000;
  letter-spacing: 3.53px;
  line-height: 15px; }

.h4 {
  font-family: "GTAmerica-Regular";
  font-size: 12px;
  color: #000000;
  letter-spacing: 2.47px;
  line-height: 20px; }

.h5 {
  font-family: "GTAmerica-Regular";
  font-size: 10px;
  color: #000000;
  letter-spacing: 1.76px;
  text-align: center;
  line-height: 15px;
  text-transform: uppercase; }

.h6 {
  font-family: "Coquette";
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-transform: lowercase; }
  .h6::first-letter {
    text-transform: uppercase; }

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden; }

a, a:hover {
  text-decoration: none;
  z-index: 50;
  color: black; }

ul {
  list-style-type: none; }

section {
  width: 100vw;
  height: 70vh; }

header {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-bottom: 5px;
  transform: translate(-50%, -50%); }

#menu:hover {
  animation: 1s crazyflip;
  /* choisir combien de fois l'animation va se répéter sur l'élément */
  animation-iteration-count: 1; }

#logo, #white-logo {
  width: 180px; }

.section-loadingpage .fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 200;
  background-image: url("../images/splashscreen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .section-loadingpage .fullscreen-bg .row {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0; }

.section-menu .fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: #8C2632; }
  .section-menu .fullscreen-bg .row {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0; }
    .section-menu .fullscreen-bg .row ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0; }
      .section-menu .fullscreen-bg .row ul li {
        font-family: "GTAmerica-Bold";
        font-size: 45px;
        letter-spacing: 3.86px;
        text-align: center;
        text-transform: uppercase;
        color: white; }
        .section-menu .fullscreen-bg .row ul li a {
          color: white; }
        .section-menu .fullscreen-bg .row ul li a:hover {
          font-family: "GTAmerica-BoldItalic";
          color: white; }

.section-home .fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-image: url("../images/background-home.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.section-home .bottles-homepage {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -50;
  background-image: url("../images/icon-bottles.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: auto; }

.section-home .row {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: flex-end;
  text-align: center; }
  .section-home .row .div3 {
    margin: 0; }
    .section-home .row .div3 .h6 {
      margin: 20px; }
    .section-home .row .div3 p {
      text-transform: uppercase; }
    @media (max-width: 992px) {
      .section-home .row .div3 .h6 {
        margin: 10px; } }
  .section-home .row .icon {
    width: 150px;
    height: 150px; }
  @media (max-width: 992px) {
    .section-home .row .icon {
      width: 120px;
      height: 120px; } }
  @media (max-width: 767px) {
    .section-home .row .icon {
      width: 100px;
      height: 100px; } }

@media (max-width: 575px) {
  .section-home .bottles-homepage {
    display: none; } }

.section-home button {
  position: absolute;
  bottom: 0;
  margin-bottom: 80px;
  transform: translate(-50%, -50%);
  left: 50%; }

.section-winelist {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-winelist .list-filters {
    padding-inline-start: 0;
    display: flex;
    align-items: center;
    flex-direction: row; }
    .section-winelist .list-filters li {
      text-align: center;
      padding: 0 10px; }
    .section-winelist .list-filters .wine-color .wine-color-filter {
      padding: 0 5px; }
  .section-winelist .list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    padding-inline-start: 0;
    padding: 0 100px; }
    .section-winelist .list .one-wine {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .section-winelist .list .one-wine a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: black;
        text-decoration: none; }
        .section-winelist .list .one-wine a .img {
          height: 200px;
          text-align: center; }
          .section-winelist .list .one-wine a .img img {
            height: 100%; }
        .section-winelist .list .one-wine a .appelation {
          font-family: "GTAmerica-Bold";
          font-size: 16px;
          color: #000000;
          letter-spacing: 1.37px;
          text-align: center;
          text-transform: uppercase;
          height: 40px;
          display: flex;
          align-items: center; }
        .section-winelist .list .one-wine a .proprieties {
          display: flex;
          flex-direction: column;
          padding-inline-start: 0;
          text-align: center;
          margin-bottom: 20px; }

.section-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; }
  .section-product .one-wine {
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px; }
    .section-product .one-wine .img {
      height: 300px; }
      .section-product .one-wine .img img {
        height: 100%; }
    .section-product .one-wine .content {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-left: 30px; }
      .section-product .one-wine .content .appelation {
        font-family: "GTAmerica-Bold";
        font-size: 20px;
        color: #000000;
        letter-spacing: 1.37px;
        text-transform: uppercase;
        margin-bottom: 10px; }
      .section-product .one-wine .content .proprieties {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        padding-inline-start: 0; }
        .section-product .one-wine .content .proprieties li {
          margin-bottom: 10px; }

.section-type {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-type .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-home.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .section-type .row {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center; }
    .section-type .row .div1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .section-type .row .div1 ul {
        padding-inline-start: 0; }
        .section-type .row .div1 ul li {
          list-style-type: none;
          line-height: 30px; }
        .section-type .row .div1 ul li:hover {
          background-color: rgba(181, 172, 165, 0.2);
          border-radius: 15px;
          padding: 0 25px; }
      .section-type .row .div1 .h6 {
        margin: 20px; }
      @media (max-width: 992px) {
        .section-type .row .div1 .h6 {
          margin: 10px; } }
    .section-type .row .icon {
      width: 150px;
      height: 150px; }
    @media (max-width: 992px) {
      .section-type .row .icon {
        width: 120px;
        height: 120px; } }
    @media (max-width: 767px) {
      .section-type .row .icon {
        width: 100px;
        height: 100px; } }
  @media (max-width: 575px) {
    .section-type .bottles-homepage {
      display: none; } }
  .section-type button {
    position: absolute;
    bottom: 0;
    margin-bottom: 80px;
    transform: translate(-50%, -50%);
    left: 50%; }

.section-reco {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-reco .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-home.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .section-reco .row {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center; }
    .section-reco .row .div1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .section-reco .row .div1 .h6 {
        margin: 20px; }
      .section-reco .row .div1 .list {
        padding-inline-start: 0;
        display: flex;
        padding-inline-start: 0;
        width: 70%; }
        .section-reco .row .div1 .list .one-wine {
          list-style: none; }
          .section-reco .row .div1 .list .one-wine img {
            height: 150px; }
          .section-reco .row .div1 .list .one-wine .appelation {
            font-family: "GTAmerica-Bold";
            font-size: 16px;
            color: #000000;
            letter-spacing: 1.37px;
            text-align: center;
            text-transform: uppercase;
            height: 30px;
            align-items: center;
            margin-top: 10px; }
            .section-reco .row .div1 .list .one-wine .appelation a:hover {
              background-color: rgba(181, 172, 165, 0.2);
              border-radius: 15px; }
          .section-reco .row .div1 .list .one-wine .proprieties {
            text-align: center;
            padding-inline-start: 0;
            text-transform: uppercase; }
            .section-reco .row .div1 .list .one-wine .proprieties li {
              margin-top: 10px; }
          .section-reco .row .div1 .list .one-wine .h5 {
            margin-bottom: 0; }
      .section-reco .row .div1 #details {
        text-decoration: underline; }
    .section-reco .row .icon {
      width: 150px;
      height: 150px; }
    @media (max-width: 992px) {
      .section-reco .row .icon {
        width: 120px;
        height: 120px; } }
    @media (max-width: 767px) {
      .section-reco .row .icon {
        width: 100px;
        height: 100px; } }
  .section-reco button {
    position: absolute;
    bottom: 0;
    margin-bottom: 80px;
    transform: translate(-50%, -50%);
    left: 50%; }

@keyframes crazyflip {
  0% {
    transform: rotateX(0); }
  50% {
    transform: rotateX(360deg); }
  100% {
    transform: rotateX(0); } }

/*# sourceMappingURL=style.css.map */