// COLORS
// ----------------------------------------------------------------

$red: #8C2632;
$darkgrey: #B5ACA5;
$beige: #F4ECDD;
$lightgrey: #EFECE9;


// FONTS
// ----------------------------------------------------------------

@font-face {
  font-family: 'Coquette-Regular';
  // src: url('/public/font/Coquette-Regular.eot');
  src: url('/font/Coquette-Regular.ttf') format('truetype');
      //  url('/public/font/Coquette.woff') format('woff'),
  }
@font-face {
	font-family: 'GTAmerica-Bold';
	src: url('/font/GTAmerica-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'GTAmerica-BoldItalic';
	src: url('/font/GTAmerica-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'GTAmerica-Regular';
	src: url('/font/GTAmerica-Regular.ttf') format('truetype');
}

$coquette: 'Coquette';
$gtbold: 'GTAmerica-Bold';
$gtboldit: 'GTAmerica-BoldItalic';
$gtreg: 'GTAmerica-Regular';

// Details wine pages paragraphes
p{
  font-family: $gtreg;
  font-size: 10px;
  color: #000000;
  letter-spacing: 1.76px;
  text-transform: uppercase;
  // &::first-letter {
	// 	text-transform: uppercase;
  // }
}

// Button font
.button-font{
  background: #000000;
  padding: 15px 100px;
  border-radius: 50px;
  font-family: $gtreg;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 2.29px;
  text-align: center;
  line-height: 15px;
  text-transform: uppercase;
}

.button-google{
  background: white;
  padding: 12px 0px;
  border-radius: 50px;
  border: none;
  font-family: $gtreg;
  font-size: 13px;
  color: black;
  letter-spacing: 2.29px;
  text-align: center;
  line-height: 15px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: center;
  img{
    padding-right: 20px;
  }
}

// Delivery hour or "0" in empty friends pages/favorite wines page
.h0{
  font-family: $gtbold;
  font-size: 80px;
  color: #000000;
  letter-spacing: 2px;
  text-align: center;
}
@media (max-width: 767px){
  .h0{
    font-size: 60px;
  }
}

// Details wine pages titles
.h1{
  font-family: $gtbold;
  font-size: 35px;
  color: #000000;
  letter-spacing: 3.94px;
  line-height: 25px;
  text-transform: uppercase;
  }
  @media (max-width: 767px){
    .h1{
      font-size: 30px;
      line-height: 20px;
    }
  }
  @media (max-width: 575px){
    .h1{
      font-size: 25px;
      line-height: 15px;
    }
  }

// Name of wines in lists pages 
.h2{
  font-family: $gtbold;
  font-size: 16px;
  color: #000000;
  letter-spacing: 1.37px;
  text-align: center;
  line-height: 45px;
  text-transform: uppercase;
}
@media (max-width: 767px){
  .h2{
    font-size: 14px;
    line-height: 20px;
  }
}

// Details wine pages dates
.h3{
  font-family: $gtreg;
  font-size: 20px;
  color: #000000;
  letter-spacing: 3.53px;
  line-height: 15px;
}
@media (max-width: 767px){
  .h3{
    font-size: 16px;
  }
}

// Lists pages dates or details terms (alchool, food eat with) in details wine pages
.h4{
  font-family: $gtreg;
  font-size: 12px;
  color: #000000;
  letter-spacing: 2.47px;
  line-height: 25px;
  text-transform: uppercase;
}
@media (max-width: 767px){
  .h4{
    font-size: 11px;
  }
}

// Very small letters (ex: price)
.h5{
  font-family: $gtreg;
  font-size: 10px;
  color: #000000;
  letter-spacing: 1.76px;
  text-align: center;
  line-height: 15px;
  text-transform: uppercase;
}

// Hand lettering
.h6{
  font-family: $coquette;
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-transform: lowercase;
  &::first-letter {
		text-transform: uppercase;
	}
}

// CSS
// ----------------------------------------------------------------

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

a, a:hover {
  text-decoration: none;
  z-index: 50;
  color: black;
}

ul{
  list-style-type: none;
}

section{
  width: 100vw;
}

header{
  display: flex;
  justify-content: center;
  margin-top: 20px
}

footer{
  position: fixed;
  bottom: 0; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  margin-bottom: -40px;
}

.menu{
  position: fixed;
  bottom: 0; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.button-font{
  width: 350px;
  padding: 15px 0;
}

#menu:hover{
  animation: 1s crazyflip;
  /* choisir combien de fois l'animation va se répéter sur l'élément */
  animation-iteration-count: 1;
}

#logo, #white-logo{
  width: 180px;
}

.section-loadingpage{
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 200;
    background-image: url("../images/splashscreen.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .row{
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
  }
}

.section-menu{
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: $red;
    .row{
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        li{
          font-family: $gtbold;
          font-size: 45px;
          letter-spacing: 3.86px;
          text-align: center;
          text-transform: uppercase;
          color: white;
          a{
            color: white;
          }
          a:hover{
            font-family: $gtboldit;
            color: white;
          }
        }
      }
    }
  }
}

.section-home{
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-home.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bottles-homepage{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -50;
    background-image: url("../images/icon-bottles.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: auto;
  }
  .row{
    width: 100%;
    height: 65vh;
    margin: 0;
    display: flex;
    align-items: flex-end;
    text-align: center;
    .div3{
      margin: 0;
      .h6{
        margin: 20px;
      }
      p{
        text-transform: uppercase;
      }
      @media (max-width: 992px){
        .h6{
          margin: 20px 10px 10px 10px;
        }
      }
    }
    .icon{
      width: 130px;
      height: 130px;
    }
    @media (max-width: 992px){
      .icon{
        width: 120px;
        height: 120px;
      }
    }
    @media (max-width: 767px){
      .icon{
        width: 100px;
        height: 100px;
      }
    }
  } 
  @media (max-width: 575px){
    .bottles-homepage{
      display: none;
    }
    .row{
      margin-top: 30px;
    }
  }
  button{
    position: fixed;
    bottom: 0;
    margin-bottom: 80px;
    transform: translate(-50%, -50%);
    left: 50%;
  }
}

.section-winelist{
  display: flex;
  flex-direction: column;
  align-items: center;
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-cellar.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .row{    
    margin-top: 30px;
    .div1{
      display: flex;
      flex-direction: column;
      align-items: center;
      .form{
        float:left;
        /*border-right:1px solid #fff;*/
        /*padding:15px 0 0 0;*/
        position: relative;
        form input{
          text-align:center;
          width: 400px;
          height:35px;
          margin-bottom: 30px;
          border:none;
          border-radius:25px;
        }
        form input:focus{
          outline:none;
        }
        ::-webkit-input-placeholder{
          color:grey;
          letter-spacing: 1px;
        }
        form input[type="submit"]{
          background-color:black;
          color:#fff;
          height: 45px;
          font-family: $gtreg;
          font-size: 13px;
          letter-spacing: 2.29px;
          text-align: center;
          text-transform: uppercase;
        }
      }
      .h6{
        margin: 20px;
      }
      .icon{
        width: 130px;
        height: 130px;
      }
      @media (max-width: 992px){
        .icon{
          width: 120px;
          height: 120px;
        }
      }
      @media (max-width: 767px){
        .icon{
          width: 100px;
          height: 100px;
        }
      }
      .list-filters{
        padding-inline-start:0;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: rgba(181, 172, 165, 0.2);
        border-radius: 50;
        padding: 10px 20px 4px 20px;
        border-radius: 30px;
        li{
          text-align: center;
          padding: 0 10px;
        }
        .wine-color{
          .wine-color-filter{
            padding: 0 5px;
          }
        }
      }
      .list{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        flex-wrap: wrap;
        padding-inline-start: 0;
        padding: 0 100px;
          .one-wine{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
            a{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: black;
              text-decoration: none;
              .img{
                height: 200px;
                text-align: center;
                img{
                  height: 100%;
                }
              }
              .appelation{
                font-family: $gtbold;
                font-size: 16px;
                color: #000000;
                letter-spacing: 1.37px;
                text-align: center;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                margin: 10px;
              }
              .proprieties{
                display: flex;
                flex-direction: column;
                padding-inline-start: 0;
                text-align: center;
                margin-bottom: 20px;
              }
            }
          }
        }
    }
  }
}

.section-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top : 50px;
  height: 100%;
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-cellar.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
    .row{
      .div1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .h6{
          margin: 20px;
        }
        .icon{
          width: 130px;
          height: 130px;
        }
    .one-wine{
      width: 80%;
      margin: 10px 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .img{
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        img{
          height: 100%;
        }
      }
      @media (max-width : 767px){
        .img{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        img{
          height: 80%;
        }
        }
      }
      @media (max-width: 575px){
        .img{
          height: 200px;
          img{
            height: 80%;
          }
        }
      }
      .content{
        display: flex;
        flex-direction: column;
      .appelation{
        text-align: left;
        display: flex;
        flex-direction: row;
      }
      @media (max-width:767px){
        .appelation{
          justify-content: center;
        }
      }
      .h2{
        text-align: left;
      }
      .proprieties{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        padding-inline-start: 0;
        .h4{
          line-height: 10px;
        }
      }

      .fav-link{
        display: flex;
        align-items: center;
        .fav-on{
          background-image: url("../images/icon-heart-full.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 30px;
          width: 30px;
        }
        .fav-off{
          background-image: url("../images/icon-heard-empty.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 30px;
          width: 30px;
        }
      }
      @media (max-width: 767px){
        .fav-link{
          justify-content: center;
        }
      }
    }
    @media (max-width: 767px){
      .content{
        text-align: center;
        .appelation, .domaine{
          text-align: center;
        }
      }
    }
  }
  @media (max-width: 767px){
    .one-wine{
      flex-direction: column;
      margin-bottom: 200px;
    }
  }
      }
    }
    button{
      position: fixed;
      bottom: 0;
      margin-bottom: 80px;
      transform: translate(-50%, -50%);
      left: 50%;
    }  
}

.section-type{
  display: flex;
  flex-direction: column;
  align-items: center;
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-home.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .row{
    width: 100%;
    height: 80vh;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    .div1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      ul{
        padding-inline-start: 0;
        li{
          list-style-type: none;
          line-height: 30px;
        }
        li:hover{
          background-color: rgba(181, 172, 165, 0.2);
          border-radius: 15px;
          padding: 0 25px;
        }
      }
      .h6{
        margin: 20px;
      }
      @media (max-width: 992px){
        .h6{
          margin: 20px 10px 10px 10px;
        }
      }
    }
    .icon{
      width: 130px;
      height: 130px;
    }
    @media (max-width: 992px){
      .icon{
        width: 120px;
        height: 120px;
      }
    }
    @media (max-width: 767px){
      .icon{
        width: 100px;
        height: 100px;
      }
    }
  } 
  @media (max-width: 575px){
    .bottles-homepage{
      display: none;
    }
  }
  button{
    position: fixed;
    bottom: 0;
    margin-bottom: 80px;
    transform: translate(-50%, -50%);
    left: 50%;
  }
}

.section-reco{
  display: flex;
  flex-direction: column;
  align-items: center;
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-home.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .row{
    width: 100%;
    height: 80vh;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    .div1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .h6{
        margin: 20px;
      }
      .list{
        padding-inline-start: 0;
        display : flex; 
        padding-inline-start: 0;
        width: 70%;
        .one-wine{
        list-style: none;  
          .img{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            .wine-pic{
              height : 130px;
            }
          }
            .appelation{
              font-family: $gtbold;
              font-size: 16px;
              color: #000000;
              letter-spacing: 1.37px;
              text-align: center;
              text-transform: uppercase;
              align-items: center;
              margin-top: 10px;
              .appelation-active{
                background-color: rgba(181, 172, 165, 0.2);
                border-radius: 50px;
              }
              a:hover{
                background-color: rgba(181, 172, 165, 0.2);
                border-radius: 25px;
                padding: 5px 25px;
              }
              @media (max-width: 992px){
                a:hover{
                  padding: 5px 15px;
                }
              }
              @media (max-width: 767px){
                a:hover{
                  padding: 5px 0px;
                }
              }
            }
            @media (max-width: 767px){
              .appelation{
                font-size:14px;
              }
              .appelation-active{
                padding: 5px;
              }
            }
          .proprieties{
            text-align: center;
            padding-inline-start: 0;
            text-transform: uppercase;
            li{
              margin-top: 10px;
            }
          }
          .more{
            display: flex;
            align-items: center;
            justify-content: center;
            .h5{
            margin: 0 2%;
            }
            .fav-on{
              background-image: url("../images/icon-heart-full.svg");
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              height: 30px;
              width: 30px;
              margin: 0 20px;
            }
            .fav-off{
              background-image: url("../images/icon-heard-empty.svg");
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              height: 30px;
              width: 30px;
              margin: 0 20px;
            }
          }
        }    
      }
      @media (max-width: 992px){
        .list{
          width: 90%;
        }
      }
      @media (max-width: 767px){
        .list{
          width: 100%;
        }
      }
      #details{
        text-decoration: underline;
      }
    }
    .icon{
      width: 130px;
      height: 130px;
    }
    @media (max-width: 992px){
      .icon{
        width: 120px;
        height: 120px;
      }
    }
    @media (max-width: 767px){
      .icon{
        width: 100px;
        height: 100px;
      }
    }
  } 
    .button-div{
      position: fixed;
      bottom: 0;
      margin-bottom: 80px;
      transform: translate(-50%, -50%);
      left: 50%;
      .button-div-position{
        display: flex;
        flex-direction: row;
        align-items: center;
        .button-left{
          margin-right: 5px;
        }
        .button-right{
          margin-left: 5px;
        }
      }
    }
}

.section-myfriends{
  display: flex;
  flex-direction: column;
  align-items: center;
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-cellar.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .row{    
    margin-top: 30px;
    display: flex;
    align-items: center;
    height: 70vh;
    flex-direction: column;
    margin-bottom: 100px;
    .div1{
      display: flex;
      flex-direction: column;
      align-items: center;
      .add-friends{
        display: flex;
        flex-direction: column;
        align-items: center;
        .form{
          float:left;
          height:100%;
          position: relative;
          width: 350px;
          input{
            text-align:center;
            width:100%;
            height:35px;
            margin-bottom:10px;
            border:none;
            border-radius:25px;
          }
          input:focus{
            outline:none;
          }
          ::-webkit-input-placeholder{
            color:grey;
            letter-spacing: 1px;
          }
        }
      }
      .h6{
        margin: 20px;
      }
      .icon{
        width: 130px;
        height: 130px;
      }
      @media (max-width: 992px){
        .icon{
          width: 120px;
          height: 120px;
        }
      }
      @media (max-width: 767px){
        .icon{
          width: 100px;
          height: 100px;
        }
      }
      .list{
        flex-wrap: wrap;
        padding-inline-start: 0;
        padding: 0 100px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
          .one-friend{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-inline-start: 0;
          margin: 0 20px;
          .h2{
            margin-top: 20px;
            line-height: 10px;
          }
            .picture{
              height: 200px;
            }
            a{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: black;
              text-decoration: none;
              
              .appelation{
                font-family: $gtbold;
                font-size: 16px;
                color: #000000;
                letter-spacing: 1.37px;
                text-align: center;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                margin: 10px;
              }
              .proprieties{
                display: flex;
                flex-direction: column;
                padding-inline-start: 0;
                text-align: center;
                margin-bottom: 20px;
              }
            }
          }
        }
    }
  }
}


.section-myfavs{
  display: flex;
  flex-direction: column;
  align-items: center;
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-cellar.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .row{    
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    .div1{
      display: flex;
      flex-direction: column;
      align-items: center;
      .h6{
        margin: 20px;
      }
      .icon{
        width: 130px;
        height: 130px;
      }
      @media (max-width: 992px){
        .icon{
          width: 120px;
          height: 120px;
        }
      }
      @media (max-width: 767px){
        .icon{
          width: 100px;
          height: 100px;
        }
      }
      .list{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
        padding-inline-start: 0;
        padding: 0 100px;
        justify-content: center;
          .one-wine{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-inline-start: 0;
          margin: 0 20px;
          .h2{
            margin-top: 20px;
            line-height: 10px;
          }
            .picture{
              height: 200px;
            }
            a{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: black;
              text-decoration: none;
              .appelation{
                font-family: $gtbold;
                font-size: 16px;
                color: #000000;
                letter-spacing: 1.37px;
                text-align: center;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                margin: 10px;
              }
              .proprieties{
                display: flex;
                flex-direction: column;
                padding-inline-start: 0;
                text-align: center;
                margin-bottom: 20px;
              }
            }
          }
        }
    }
    a{
      margin-top: 10px;
    }
  }
}

.section-order{
  display: flex;
  flex-direction: column;
  align-items: center;
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-home.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .row{
    width: 80%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    .div1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      .list{
        display: flex;
        margin-bottom: 0;
        padding-inline-start: 0;
        .one-wine{
          list-style: none; 
          display: flex;
          flex-direction: column;
          align-items: center;
            .img{
              display: flex;
              justify-content: center;
              align-items: flex-end;
              .wine-pic{
                height : 80px;
              }
            }
              .appelation{
                font-family: $gtbold;
                font-size: 16px;
                color: #000000;
                letter-spacing: 1.37px;
                text-align: center;
                text-transform: uppercase;
                align-items: center;
                margin: 10px;
                .proprieties{
                  text-align: center;
                  padding-inline-start: 0;
                  text-transform: uppercase;
                }
              }
              @media (max-width: 767px){
                .appelation{
                  font-size:14px;
                  line-height: 15px;
                }
              }
          }  
      }
      .time-input{
        border: none;
        background-color: transparent;
        height: 70px;
        overflow: hidden;
      }
      .address-input{
        text-align: center;
        width: 80%;
        height: 35px;
        margin-bottom: 10px;
        border: none;
        background-color: #F8F8F8;
        border-radius: 25px;
        margin-top: 20px;
        font-family: $gtreg;
        font-size: 12px;
        letter-spacing: 2.29px;
        text-align: center;
        text-transform: uppercase;
        @media (max-width: 575px) {
          font-size: 10px;
        }
      }
      .h6{
        margin: 20px;
      }
      @media (max-width: 992px){
        .h6{
          margin: 20px 10px 10px 10px;
        }
      }
    }
    .icon{
      width: 130px;
      height: 130px;
    }
    @media (max-width: 992px){
      .icon{
        width: 120px;
        height: 120px;
      }
    }
    @media (max-width: 767px){
      .icon{
        width: 100px;
        height: 100px;
      }
    }
  } 
  @media (max-width: 575px){
    .bottles-homepage{
      display: none;
    }
  }
  .button-div{
    position: fixed;
    bottom: 0;
    margin-bottom: 80px;
    transform: translate(-50%, -50%);
    left: 50%;
    .button-div-position{
      display: flex;
      flex-direction: row;
      align-items: center;
      .button-left{
        margin-right: 5px;
      }
      .button-right{
        margin-left: 5px;
      }
    }
  }
}

.section-myorders{
  display: flex;
  flex-direction: column;
  align-items: center;
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-cellar.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .row{    
    margin-top: 20px;
    margin-bottom: 100px;
    width: 50%;
    .div1{
      text-align: center;
      width: 100%;
      .h6{
        margin: 20px;
      }
      .orderlist{
        justify-content: center;
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .wineinfos{
          padding-inline-start: 0;
          margin: 0 10px 20px 10px;
          padding: 15px 20px 0 20px;
          background-color: rgba(181, 172, 165, 0.2);
          border-radius: 50px;
          .winelist{
            padding-inline-start: 0;
            .h2{
              margin-bottom: 20px;
              line-height: 15px;
            }
          }
        }
      }
      .icon{
        width: 130px;
        height: 130px;
      }
      @media (max-width: 992px){
        .icon{
          width: 120px;
          height: 120px;
        }
      }
      @media (max-width: 767px){
        .icon{
          width: 100px;
          height: 100px;
        }
      }
      .list{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
        }
    }
  }
}

.selected{
  background-color: rgba(181, 172, 165, 0.2);
  border-radius: 15px;
  padding: 5px 25px;
}

.section-login{
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-home.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .row{
    width: 100%;
    height: 60vh;
    margin: 0;
    display: flex;
    align-items: flex-end;
    text-align: center;
    .div1{
      display: flex;
      flex-direction: column;
      align-items: center;
      .h6{
        margin: 20px;
      }
      .user{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        .icon{
          width: 130px;
          height: 130px;
          margin: 0 10px;
        }
        @media (max-width: 992px){
          .icon{
            width: 120px;
            height: 120px;
          }
        }
        @media (max-width: 767px){
          .icon{
            width: 100px;
            height: 100px;
          }
        }
      }
    .form{
      float:left;
      /*border-right:1px solid #fff;*/
      height:100%;
      /*padding:15px 0 0 0;*/
      position: relative;
      form input{
        text-align:center;
        width:100%;
        height:35px;
        margin-bottom:10px;
        border:none;
        border-radius:25px;
      }
      form input:focus{
        outline:none;
      }
      ::-webkit-input-placeholder{
        color:grey;
        letter-spacing: 1px;
      }
      form input[type="submit"]{
        background-color:black;
        color:#fff;
        height: 45px;
        font-family: $gtreg;
        font-size: 13px;
        letter-spacing: 2.29px;
        text-align: center;
        text-transform: uppercase;
      }
    }
    }
  } 
  @media (max-width: 575px){
    .row{
      margin-top: 30px;
    }
  }
}

.section-profile{
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-home.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .row{
    width: 100%;
    height: 80vh;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    .div1{
      display: flex;
      flex-direction: column;
      align-items: center;
      .h6{
        margin: 20px;
      }
        .icon{
          width: 130px;
          height: 130px;
          margin: 0 10px;
        }
        @media (max-width: 992px){
          .icon{
            width: 120px;
            height: 120px;
          }
        }
        @media (max-width: 767px){
          .icon{
            width: 100px;
            height: 100px;
          }
        }
    }
    .profile-buttons{
      display: flex;
      flex-direction: column;
      align-items: center;
      .profile-btn{
          width: 350px;
          margin: 5px;
      }
    }
  } 
  @media (max-width: 575px){
    .row{
      margin-top: 30px;
    }
  }
}

.section-settings{
  .fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url("../images/background-cellar.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .row{
    width: 100%;
    height: 80vh;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    .div1{
      display: flex;
      flex-direction: column;
      align-items: center;
      a{
        margin-top: 10px;
      }
      .h6{
        margin: 20px;
      }
        .icon{
          width: 130px;
          height: 130px;
          margin: 0 10px;
        }
        @media (max-width: 992px){
          .icon{
            width: 120px;
            height: 120px;
          }
        }
        @media (max-width: 767px){
          .icon{
            width: 100px;
            height: 100px;
          }
        }
        .settings-form{
          float:left;
          /*border-right:1px solid #fff;*/
          height:100%;
          /*padding:15px 0 0 0;*/
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          label{
            display: flex;
            flex-direction: row;
            input{
              text-align:center;
              height:35px;
              margin-bottom:10px;
              border:none;
              border-radius:25px;
              width: 350px;
            }
            input:focus{
              outline:none;
            }
            ::-webkit-input-placeholder{
              color:grey;
              letter-spacing: 1px;
            }
            input[type="submit"]{
              background-color:black;
              color:#fff;
              height: 45px;
              font-family: $gtreg;
              font-size: 13px;
              letter-spacing: 2.29px;
              text-align: center;
              text-transform: uppercase;
            }
          }
          .button-div{
            .button-font{
              width: 350px;
            }
          }
        }
    }
    .profile-buttons{
      display: flex;
      flex-direction: column;
      align-items: center;
      .profile-btn{
          width: 350px;
          margin: 5px;
      }
    }
  } 
  @media (max-width: 575px){
    .row{
      margin-top: 30px;
    }
  }
}


// ANIMATIONS
// ----------------------------------------------------------------

@keyframes crazyflip{
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(0);
  }
}