<h2>Log in</h2>

<form action="/process-login" method="POST">

  <label>
    Email : 
    <input type="email" name="emailguess" placeholder="b2o@unkut.com">
  </label>

  <label>
    Password : 
    <input type="password" name="passwordguess" placeholder="izi">
  </label>

  <button>Log in</button>

</form>
