{{> header}}

<section class="section-login">

  <div class="fullscreen-bg"></div>

  <div class="row justify-content-center">

    <div class="div1">
    
    <div class="h6">Who are you ?</div>
    <div class="user">
        <img src="/images/icon-woman.svg" alt="" class="icon">
        <img src="/images/icon-man.svg" alt="" class="icon">
    </div>

    {{> flash_messages}}

    <div class="form">
            <form action="/process-login-pairing" method="POST">
                <input type="email" name="emailguess" placeholder="name@example.fr">
                <input type="password" name="passwordguess" placeholder="Password">
                <input type="submit" value="LOG IN">
            </form>
            <a href="/google/login"><button class="button-google"><img src="/images/google.svg" alt="">Login with Google</button></a>
    </div>

    </div>

  </div>

</section>

{{> footer}}