<h2>Sign Up</h2>

{{> flash_messages}}


<form action="/process-signup" method="POST">

  <label>
    Your Full name : 
    <input type="text" name="fullName" placeholder="B2OBA">
  </label>

  <label>
    Email : 
    <input type="email" name="email" placeholder="b2o@unkut.com">
  </label>

  <label>
    Password : 
    <input type="password" name="originalPassword" placeholder="izi">
  </label>

  <button>Sign up</button>

</form>
