
{{> flash_messages}}

<div class="left">
            <h1>Sign Up</h1>
            <form action="/process-signup" method="POST">
                <input type="text" name="fullName" placeholder="Your full name">
                <input type="email" name="email" placeholder="Your email">
                <input type="password" name="originalPassword" placeholder="Password">
                <div>
                    <input type="checkbox" id="scales" name="legal">
                    <label for="legal">I CERTIFY THAT I AM 18 YEARS OF AGE OR OLDER</label>
                </div>
                <input type="submit" value="SIGN UP">
            </form>
</div>